<h5>Πολεοδομική Ζώνη</h5>
<input type="checkbox" id="residential" name="residential" value="residential" {{#if filters.residential}} checked {{/if}}>
<label for="residential">Οικιστική Ζώνη</label><br>
<input type="checkbox" id="commercial" name="commercial" value="commercial" {{#if filters.commercial}} checked {{/if}}>
<label for="commercial">Εμπορική Ζώνη</label><br>
<input type="checkbox" id="industrial" name="industrial" value="industrial" {{#if filters.industrial}} checked {{/if}}>
<label for="industrial">Βιομηχανική Ζώνη</label><br>
<input type="checkbox" id="agricultural" name="agricultural" value="agricultural" {{#if filters.agricultural}} checked {{/if}}>
<label for="agricultural">Γεωργική Ζώνη</label><br>
<input type="checkbox" id="forest" name="forest" value="forest" {{#if filters.forest}} checked {{/if}}>
<label for="forest">Δασική Ζώνη</label><br>
<input type="checkbox" id="tourist" name="tourist" value="tourist" {{#if filters.tourist}} checked {{/if}}>
<label for="tourist">Τουριστική Ζώνη</label><br>
<hr>