<h5>Είδος Θέρμανσης</h5>
<select name="heating" id="heating">
	<option value="any" {{#if filters.heating_any}} selected {{/if}}>Οτιδήποτε</option>
	<option value="autonomous" {{#if filters.heating_autonomous}} selected {{/if}}>Αυτόνομη</option>
	<option value="central" {{#if filters.heating_central}} selected {{/if}}>Κεντρική</option>
</select>
<h5>Μέσο Θέρμανσης</h5>
<select name="heating_type" id="heating_type">
	<option value="any" {{#if filters.heating_type_any}} selected {{/if}}>Οτιδήποτε</option>
	<option value="oil" {{#if filters.heating_type_oil}} selected {{/if}}>Πετρέλαιο</option>
	<option value="gas" {{#if filters.heating_type_gas}} selected {{/if}}>Φυσικό αέριο</option>
	<option value="wood" {{#if filters.heating_type_wood}} selected {{/if}}>Ξύλο</option>
	<option value="electricity" {{#if filters.heating_type_electricity}} selected {{/if}}>Ηλεκτρικό</option>
	<option value="geothermal" {{#if filters.heating_type_geothermal}} selected {{/if}}>Γεωθερμικό</option>
	<option value="solar" {{#if filters.heating_type_solar}} selected {{/if}}>Ηλιακό</option>
</select>
<hr>