{{!-- filters for listings --}}

{{> filter_type filters=filters}}

<select id="subcategory">
	<option value="land">Έδαφος</option>
	<option value="field">Οικόπεδο</option>
	<option value="island">Νησί</option>
	<option value="other">Άλλο</option>
</select>

<hr>

{{> filter_price_area filters=filters}}

{{> filter_zone filters=filters}}

<hr>