<h5>{{#if filters.residential}}Δωμάτια{{/if}}{{#if filters.commercial}}Χώροι{{/if}}</h5>
<input type="text" inputmode="numeric" name="rooms_from" placeholder="Από">
<input type="text" inputmode="numeric" name="rooms_to" placeholder="Εώς">
<h5>Όροφος</h5>
<input type="text" inputmode="numeric" name="floor_from" placeholder="Από">
<input type="text" inputmode="numeric" name="floor_to" placeholder="Εώς">
<h5>Έτος κατασκευής</h5>
<input type="text" inputmode="numeric" name="year_from" placeholder="Από">
<input type="text" inputmode="numeric" name="year_to" placeholder="Εώς">
			
<hr>
