{{!-- filters for listings --}}

{{> filter_type filters=filters}}

<select id="subcategory">
	<option value="any" {{#if filters.any}} selected {{/if}}>Οτιδήποτε</option>
	<option value="land" {{#if filters.land}} selected {{/if}}>Έδαφος</option>
	<option value="field" {{#if filters.field}} selected {{/if}}>Οικόπεδο</option>
	<option value="island" {{#if filters.island}} selected {{/if}}>Νησί</option>
	<option value="other" {{#if filters.other}} selected {{/if}}>Άλλο</option>
</select>

<hr>

{{> filter_price_area filters=filters}}

{{> filter_zone filters=filters}}

<hr>