<h5>Τύπος ακινήτου</h5>
<select name="category" id="category">
    <option value="residential"{{#if filters.category_residential}}selected{{/if}}>Κατοικία</option>
    <option value="commercial"{{#if filters.category_commercial}}selected{{/if}}>Επαγγελματικός</option>
    <option value="land"{{#if filters.category_land}}selected{{/if}}>Γη</option>
</select>