<h5>Τύπος ακινήτου</h5>
<select id="category">
    <option value="residential"{{#if filters.residential}}selected{{/if}}>Κατοικία</option>
    <option value="commercial"{{#if filters.commercial}}selected{{/if}}>Επαγγελματικός</option>
    <option value="land"{{#if filters.land}}selected{{/if}}>Γη</option>
</select>