<h5>Πολεοδομική Ζώνη</h5>
<input type="checkbox" id="home" name="home" value="home">
<label for="home">Οικιστική Ζώνη</label><br>
<input type="checkbox" id="commercial" name="commercial" value="commercial">
<label for="commercial">Εμπορική Ζώνη</label><br>
<input type="checkbox" id="industrial" name="industrial" value="industrial">
<label for="industrial">Βιομηχανική Ζώνη</label><br>
<input type="checkbox" id="agricultural" name="agricultural" value="agricultural">
<label for="agricultural">Γεωργική Ζώνη</label><br>
<input type="checkbox" id="forest" name="forest" value="forest">
<label for="forest">Δασική Ζώνη</label><br>
<input type="checkbox" id="tourist" name="tourist" value="tourist">
<label for="tourist">Τουριστική Ζώνη</label><br>
<hr>