<h5>Διάστημα τιμής</h5>

<input type="text" id="price_start" name="price_start" value="{{#if filters.price.start}}{{filters.price.start}}{{/if}}", placeholder="Από">
<input type="text" id="price_end" name="price_end" value="{{#if filters.price.end}}{{filters.price.end}}{{/if}}", placeholder="Εώς">

<h5>Εμβαδόν</h5>
<input type="text" id="area_start" name="area_start" value="{{#if filters.area.start}}{{filters.area.start}}{{/if}}", placeholder="Από">
<input type="text" id="area_end" name="area_end" value="{{#if filters.area.end}}{{filters.area.end}}{{/if}}", placeholder="Εώς">
<hr>