<h5>Πολεοδομική Ζώνη</h5>
<input type="radio" id="residential" name="residential" value="residential" {{#if filters.zone_residential}} checked {{/if}}>
<label for="residential">Οικιστική Ζώνη</label><br>
<input type="radio" id="commercial" name="commercial" value="commercial" {{#if filters.zone_commercial}} checked {{/if}}>
<label for="commercial">Εμπορική Ζώνη</label><br>
<input type="radio" id="industrial" name="industrial" value="industrial" {{#if filters.zone_industrial}} checked {{/if}}>
<label for="industrial">Βιομηχανική Ζώνη</label><br>
<input type="radio" id="agricultural" name="agricultural" value="agricultural" {{#if filters.zone_agricultural}} checked {{/if}}>
<label for="agricultural">Γεωργική Ζώνη</label><br>
<input type="radio" id="forest" name="forest" value="forest" {{#if filters.zone_forest}} checked {{/if}}>
<label for="forest">Δασική Ζώνη</label><br>
<input type="radio" id="tourist" name="tourist" value="tourist" {{#if filters.zone_tourist}} checked {{/if}}>
<label for="tourist">Τουριστική Ζώνη</label><br>
<hr>