<h5>Είδος Θέρμανσης</h5>
<select name="heating" id="heating">
	<option value="autonomous">Αυτόνομη</option>
	<option value="central">Κεντρική</option>
</select>
<h5>Μέσο Θέρμανσης</h5>
<select name="heating_type">
	<option value="oil">Πετρέλαιο</option>
	<option value="gas">Φυσικό αέριο</option>
	<option value="wood">Ξύλο</option>
	<option value="electricity">Ηλεκτρικό</option>
	<option value="geothermal">Γεωθερμικό</option>
	<option value="solar">Ηλιακό</option>
</select>
<hr>