<div class="icon_pressed  not_signed_in">
    <a href="/sign_in"> Είσοδος </a>
    <hr>
    <a href="/sign_up"> Εγγραφή </a>
</div>
<div class="icon_pressed  signed_in">
    <a href="/profile"> Προφίλ </a>
    <hr>
    <a href="/sign_out"> Αποσύνδεση <img src="/icons/sign_out.png" draggable="false"> </a>
</div>

<header>
    {{#unless topSearchOn}}
    <a href="/"><img src="/icons/logo_light.svg" draggable="false"></a>
    {{/unless}}
    {{#if topSearchOn}}
    <a href="/"><img src="/icons/logo_dark.svg" draggable="false"></a>
    <div class="top_search">
        <input type="text" placeholder="Περιοχή">
        <img src="/icons/search_icon.svg" draggable="false">
    </div>
    {{/if}}
    <div class="top_right">
        {{!-- <button class="button_register"> Καταχώρηση Αγγελίας </button> --}}
        <a ><img src="/icons/user_icon.svg" draggable="false" class="button_login"></a>
    </div>
</header>

