<div class="icon_pressed  not_signed_in">
    <a href="/sign_in"> Είσοδος </a>
    <hr>
    <a href="/sign_up"> Εγγραφή </a>
</div>
<div class="icon_pressed  signed_in">
    <a href="/profile"> Προφίλ </a>
    <hr>
    <a href="/sign_out"> Αποσύνδεση <img src="/icons/sign_out.png" draggable="false"> </a>
</div>
<div class="like_alert">
    <div id="alert_head">
        <div class="alert_icon">
            <img src="/icons/warning.png" alt="alert">
            <span> Ειδοποίηση </span>
        </div>
        <a href="#" class="close">&times;</a>
    </div>
    <span class="message">{{message}}</span>
</div>

<header>
    {{#unless topSearchOn}}
    <a href="/"><img src="/icons/logo_light.svg" draggable="false"></a>
    {{/unless}}
    {{#if topSearchOn}}
    <a href="/"><img src="/icons/logo_dark.svg" draggable="false"></a>
    <div class="top_search">
        <input type="search" id="location" placeholder="{{#if location}}{{location}}{{else}}Περιοχή{{/if}}">
        <img src="/icons/search_icon.svg" draggable="false">
    </div>
    {{/if}}
    <div class="top_right">
        {{!-- <button class="button_register"> Καταχώρηση Αγγελίας </button> --}}
        <a ><img src="/icons/user_icon.svg" draggable="false" class="button_login"></a>
    </div>
</header>

{{!-- let alert = document.querySelector(".like_alert");
    alert.style.opacity = "0";

    let close = alert.querySelector(".close");
    close.addEventListener("click", function() {
        alert.style.opacity = "0";
    });


    let hearts = document.querySelectorAll(".like");

    hearts.forEach(heart => {
        heart.addEventListener("click", async function() {
    
            console.log("clicked");
            let result = await fetch("/isAuthenticated")
            if (result.status == 200) {
                alert.querySelector(".message").innerHTML = "Πρέπει να συνδεθείτε πρώτα!";
                setTimeout(function() {
                alert.style.opacity = "1";
                }, 2000);
            } 
            });
            
        });
            --}}
