<header>
    {{#unless topSearchOn}}
    <a href="/"><img src="/icons/logo_light.svg"></a>
    {{/unless}}
    {{#if topSearchOn}}
    <a href="/"><img src="/icons/logo_dark.svg"></a>
    <div class="top_search">
        <input type="text" placeholder="Περιοχή">
        <img src="/icons/search_icon.svg">
    </div>
    {{/if}}
    <div class="top_right">
        {{!-- <button class="button_register"> Καταχώρηση Αγγελίας </button> --}}
        <a href="/profile"><img src="/icons/user_icon.svg" class="button_login"></a>
    </div>
</header>