<header>
    <a href="/"><img src="/icons/logo_light.svg"></a>
    <div class="top_right">
        <button class="button_register"> Καταχώρηση Αγγελίας </button>
        <a href="/sign_in"><img src="/icons/user_icon.svg" class="button_login"></a>
    </div>
</header>