<div class="searchCard">
	<img src="{{listing.images.[0]}}">
	<div class="top-row">
		<p>{{listing.description}}, {{listing.area}} τ.μ</p>
		<img src="/icons/heart.svg">
	</div>

	<span>Υποπεριοχή</span>

	<div class="listing_description">
		<p>1ος</p>
		<p>1υ/δ</p>
		<p>1μπ</p>
	</div>

	<p>€ {{listing.price}}</p>
</div>