h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    line-height: 64px; 
    padding-top: 60px;
    color: #FFFFFF;
    text-align: center;
}

.search_quote {
    font-family: 'Roboto';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.button {
    margin: 10px;
    margin-bottom: auto;
    margin-right: auto;
    cursor: pointer;
    border-style: ridge;
    outline-color: white;
    color: black;
    width: 148px;
    height: 36px;
    background:  rgba(234, 231, 231, 0.7);
    border-radius: 10px;
}

.button:hover {
    border: none;
    outline: none;
    color: white;
    background: #599EA2;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: sticky;
}

.sub_search {
    padding-right: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    flex-wrap: wrap;
    margin: 10px 10px;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

 .sub_search div.search_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: #000000;
    position: sticky;
}

.sub_search div.search_input:hover {
    box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.sub_search input[type=text] {
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 5px;

    letter-spacing: 0.25px;

    color: #938E8E;
}

.sub_search input[type=search] {
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    letter-spacing: 0.25px;
    
    color: #938E8E;
}

.submit_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_button {
    cursor: pointer;
    width: 147px;
    height: 42px;

    border: none;
    outline: none;
    color: white;

    background-color: #F86740;
    border-radius: 20px;
}

.search_button:hover {
    box-shadow:rgba(0, 0, 0, 0.5);
    background-color: #da5834;
}

label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.5px;
}
