h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 57px;
    line-height: 64px; 
    padding-top: 60px;
    color: #FFFFFF;
}

.button {
    width: 148px;
    height: 36px;

    background:  rgba(234, 231, 231, 0.8);
    color: black;

    margin: 10px;

    cursor: pointer;

    border-style: none;
    border-radius: 10px;
}

.button:hover {
    color: white;
    background: #599EA2;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.search_bar {
    background-color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 10px 10px;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

 .search_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: #000000;
}

.search_input:hover {
    box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.search_bar input[type=text] {
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 5px;

    letter-spacing: 0.25px;

    color: #938E8E;
}

.search_bar input[type=search] {
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    letter-spacing: 0.25px;
    
    color: #938E8E;
}

.submit_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_button {
    cursor: pointer;
    width: 147px;
    height: 42px;

    border: none;
    outline: none;
    color: white;

    background-color: #F86740;
    border-radius: 20px;
}

.search_button:hover {
    box-shadow:rgba(0, 0, 0, 0.5);
    background-color: #da5834;
}

label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.5px;
}
