{{> header}}

<main>

    <div class="my-info">
        <img src="/icons/provider.svg">
        <div class="info-container">
            <div class="details-info">
                <label for="personal-info"> Προσωπικά Στοιχεία</label>
                <div class="personal-info">
                    <div class="name">
                        <p>Όνομα:</p>
                        <p> Listopia User Name</p>
                    </div>
                    <div class="surname">
                        <p>Επώνυμο:</p>
                        <p> Listopia User Surname</p>
                    </div>
                </div>
            </div>
            <div class="details-info">
                <label for="personal-info">Στοιχεία Επικοινωνίας</label>
                <div class="personal-info">
                    <div class="phone">
                        <p>Τηλέφωνο:</p>
                        <p> Listopia User Phone</p>
                    </div>
                    <div class="email">
                        <p>Email:</p>
                        <p> Listopia User Email</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="my-favourites">

    </div>

</main>

{{!-- <div class="my-info-left-top">
            <div class="my-info-left-top-left">
                <div class="my-info-left-top-left-image">
                    <img src="/icons/user.svg">
                </div>
                <div class="my-info-left-top-left-text">
                    <p>Όνομα Χρήστη</p>
                    <p>Επώνυμο Χρήστη</p>
                </div>
            </div>
            <div class="my-info-left-top-right">
                <div class="my-info-left-top-right-image">
                    <img src="/icons/phone.svg">
                </div>
                <div class="my-info-left-top-right-text">
                    <p>Τηλέφωνο Χρήστη</p>
                </div>
            </div>
        </div>
        <div class="my-info-left-bottom">
            <div class="my-info-left-bottom-left">
                <div class="my-info-left-bottom-left-image">
                    <img src="/icons/mail.svg">
                </div>
                <div class="my-info-left-bottom-left-text">
                    <p>Ηλεκτρονική Διεύθυνση</p>
                </div>
            </div>
            <div class="my-info-left-bottom-right">
                <div class="my-info-left-bottom-right-image">
                    <img src="/icons/location.svg">
                </div>
                <div class="my-info-left-bottom-right-text">
                    <p>Περιοχή</p>
                </div>
            </div>
        </div> --}}