{{> header location=filters.location}}

<hr class="line">

<hr class="box-shadow">

{{!-- path taken --}}
<div class="path">
	<a href="/"><img src="/icons/back_arrow.svg" draggable="false">Αρχική </a>

</div>

<div class="choice_section">
	{{!-- <select id="rent_sale">
		<option value="0">Πώληση</option>
		<option value="1">Ενοικίαση</option>
	</select>

	<select id="subtype">
		<option value="0">Στούντιο</option>
		<option value="1">Μονοκατοικία</option>
	</select> --}}

	<button class="openbtn" onclick="check()" id="filter"> <img src="/icons/sliders.svg"> Φίλτρα</button>
</div>

<main>
	<div id="mySidebar" class="sidebar">
		<div class="filters_heading">
			<h3>Φίλτρα</h3>
			<a style="text-decoration: none; color:rgb(122, 122, 122)" class="clear_filters">Καθαρισμός</a>
		</div>

		<hr>

		<form class="filters" id="main" method="get">

			<h5>Ακίνητο για:</h5>
			<input type="radio" name="type" id="sell" value="sell"{{#if filters.type_sell}}checked{{/if}}>
			<label for="sell">Πώληση</label><br>
			<input type="radio" name="type" id="rent" value="rent"{{#if filters.type_rent}}checked{{/if}}>
			<label for="rent">Ενοικίαση</label><br>

			<input type="hidden" name="location" id="location_actual">

			<hr>

			{{#if filters.category_residential}}
				{{> filter_housing filters=filters}}
			{{/if}}
			{{#if filters.category_commercial}}
				{{> filter_prof filters=filters}}
			{{/if}}
			{{#if filters.category_land}}
				{{> filter_land filters=filters}}
			{{/if}}

			<input type="submit" value="Αναζήτηση" class="search_button">
		</form>
	</div>

	<div class="nav_pages">
		<h2>Αποτελέσματα Αναζήτησης</h2>
	</div>

	<div class="cards_div d-flex justify-content-left flex-wrap">
		{{#if listings}}
			{{#each listings as |listing|}}
				{{> searchCard listing=listing}}
			{{/each}}
		{{else}}
			<p>Κανένα αποτέλεσμα</p>
		{{/if}}
	</div>
</main>

<img src="icons/up-arrow.png" alt="arrow" class="arrow">

<script>
	/* Set the width of the sidebar to 280px and the left margin of the page content to 10px */
	function openNav() {
	document.getElementById("mySidebar").style.width = "280px";
	document.getElementById("main").style.marginLeft = "10px";
	}

	/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
	function closeNav() {
	document.getElementById("mySidebar").style.width = "0";
	document.getElementById("main").style.marginLeft = "0";
	}

	function check(){
		let x = document.getElementById("mySidebar");
		if (x.style.width === "280px") {
			closeNav();
		} else {
			openNav();
		}
	}

	let topButton = document.querySelector(".arrow");
	topButton.addEventListener("click", function(){
		window.scrollTo({
			top: 0,
			left: 0,
			behavior: "smooth"
		});
	});

	function clearFilters(){
		let checkboxes = document.querySelectorAll("#mySidebar input[type=checkbox]");
		checkboxes.forEach(checkbox => {
			checkbox.checked = false;
		});

		let radios = document.querySelectorAll("#mySidebar input[type=radio]");
		radios.forEach(radio => {
			if (!(radio.id == "sell" || radio.id == "rent"))
				radio.checked = false;
		});

		document.querySelector("#subcategory").value = "any"
		document.querySelector("#heating").value = "any"
		document.querySelector("#heating_type").value = "any"
		document.querySelector("#price_start").value = ""
		document.querySelector("#price_end").value = ""
		document.querySelector("#area_start").value = ""
		document.querySelector("#area_end").value = ""
		document.querySelector("#rooms_from").value = ""
		document.querySelector("#rooms_to").value = ""
		document.querySelector("#floor_from").value = ""
		document.querySelector("#floor_to").value = ""
		document.querySelector("#year_from").value = ""
		document.querySelector("#year_to").value = ""

	}

	let clearfilter = document.querySelector(".clear_filters");
	clearfilter.addEventListener("click", function(){
		clearFilters();
	});

	let submitButton = document.querySelector(".search_button")
	submitButton.addEventListener("click", event => {
		event.preventDefault()
		submitForm()
	})

	let searchBar = document.querySelector(".top_search>input")
	searchBar.addEventListener("keydown", event => {
		if (event.key == "Enter") {
			event.preventDefault()
			submitForm()
		}
	})

	let filters = []
	filters.push(document.querySelector("#price_start"))
	filters.push(document.querySelector("#price_end"))
	filters.push(document.querySelector("#area_start"))
	filters.push(document.querySelector("#area_end"))
	filters.push(document.querySelector("#rooms_from"))
	filters.push(document.querySelector("#rooms_to"))
	filters.push(document.querySelector("#floor_from"))
	filters.push(document.querySelector("#floor_to"))
	filters.push(document.querySelector("#year_from"))
	filters.push(document.querySelector("#year_to"))

	function submitForm() {
		let location = document.querySelector("#location")
		let location_actual = document.querySelector("#location_actual")

		if (location.value.length > 0) {
			location_actual.value = location.value
		}
		else {
			location_actual.value = location.getAttribute("placeholder")
		}

		console.log(filters)

		document.querySelector("form").submit()
	}

</script>
