{{> header}}

<div class="container">
    <a href="/">
    <img src="/icons/back_arrow.svg">
    <p>Λίστα Αγγελιών</p>
    </a>

{{!-- path of search --}}

</div>

<div class="listing_container">
    <