{{> header}}

<hr class="line">

<hr class="box-shadow">

{{!-- path taken --}}
<div class="path">
	<a href="/"><img src="/icons/back_arrow.svg" draggable="false">Αρχική </a>

</div>

<div class="choice_section">
	{{!-- <select id="rent_sale">
		<option value="0">Πώληση</option>
		<option value="1">Ενοικίαση</option>
	</select>

	<select id="subtype">
		<option value="0">Στούντιο</option>
		<option value="1">Μονοκατοικία</option>
	</select> --}}

	<button class="openbtn" onclick="check()" id="filter"> <img src="/icons/sliders.svg"> Φίλτρα</button>
</div>

<main>
	<div id="mySidebar" class="sidebar">
		<div class="filters_heading">
			<h3>Φίλτρα</h3>
			<a style="text-decoration: none; color:rgb(122, 122, 122)" class="clear_filters">Καθαρισμός</a>
		</div>

		<hr>

		<form class="filters" id="main" method="get">
			{{#if residential}}
				{{> filter_housing}}
			{{/if}}
			{{#if comercial}}
				{{> filter_prof}}
			{{/if}}
			{{#if land}}
				{{> filter_land}}
			{{/if}}
			<input type="submit" value="Αναζήτηση" class="search_button">
			<br><br><br>
		</form>
	</div>

	<div class="nav_pages">
		<h2>Πωλήσεις κατοικιών σε Περιοχή</h2>
	</div>

	<div class="cards_div d-flex justify-content-left flex-wrap">
		{{#if listings}}
			{{#each listings as |listing|}}
				{{> searchCard listing=listing}}
			{{/each}}
		{{else}}
			<p>Κανένα αποτέλεσμα</p>
		{{/if}}
	</div>
</main>

<img src="icons/up-arrow.png" alt="arrow" class="arrow">

<script>
	/* Set the width of the sidebar to 280px and the left margin of the page content to 10px */
	function openNav() {
	document.getElementById("mySidebar").style.width = "280px";
	document.getElementById("main").style.marginLeft = "10px";
	}

	/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
	function closeNav() {
	document.getElementById("mySidebar").style.width = "0";
	document.getElementById("main").style.marginLeft = "0";
	}

	function check(){
		let x = document.getElementById("mySidebar");
		if (x.style.width === "280px") {
			closeNav();
		} else {
			openNav();
		}
	}

	let topButton = document.querySelector(".arrow");
	topButton.addEventListener("click", function(){
		window.scrollTo({
			top: 0,
			left: 0,
			behavior: "smooth"
		});
	});

	function clearFilters(){
		let checkboxes = document.querySelectorAll("#mySidebar input[type=checkbox]");
		checkboxes.forEach(checkbox => {
			checkbox.checked = false;
		});
		let heating = document.querySelector("#heating");
		heating.value = "autonomous";

		let minPrice = document.querySelector("#price_from");
		minPrice.value = "";
		let maxPrice = document.querySelector("#price_to");
		maxPrice.value = "";

	}

	let clearfilter = document.querySelector(".clear_filters");
	clearfilter.addEventListener("click", function(){
		clearFilters();
	});

</script>

