{{> header}}

<hr class="line">

<hr class="box-shadow">

{{!-- path taken --}}
<div class="path">
	<a href="/"><img src="/icons/back_arrow.svg" draggable="false">Αρχική </a>

</div>

<div class="choice_section">
	{{!-- <select id="rent_sale">
		<option value="0">Πώληση</option>
		<option value="1">Ενοικίαση</option>
	</select>

	<select id="subtype">
		<option value="0">Στούντιο</option>
		<option value="1">Μονοκατοικία</option>
	</select> --}}

	<button class="openbtn" onclick="check()" id="filter"> <img src="/icons/sliders.svg"> Φίλτρα</button>
</div>

<main>
	<div id="mySidebar" class="sidebar">
		<div class="filters_heading">
			<h3>Φίλτρα</h3>
			<a style="text-decoration: none; color:rgb(122, 122, 122)" class="clear_filters">Καθαρισμός</a>
		</div>

		<hr>
		<div class="filters" id="main">
			{{!-- filters for listings --}}
			<h5>Ακίνητο για:</h5>
			<input type="radio" name="rent_sale" value="0" checked> Πώληση<br>
			<input type="radio" name="rent_sale" value="1"> Ενοικίαση<br>
			
			<hr>

			<h5>Τύπος ακινήτου</h5>
			<select id="type">
				<option value="0">Κατοικία</option>
				<option value="1">Επαγγελματικός</option>
				<option value="2">Γη</option>
			</select>

			<select id="subtype">
				<option value="0">Στούντιο</option>
				<option value="1">Μονοκατοικία</option>
				<option value="2">Πολυκατοικία</option>
				<option value="3">Μεζονέτα</option>
				<option value="4">Διαμέρισμα</option>
				<option value="5">Οροφοδιαμέρισμα</option>
				<option value="6">Άλλο</option>

			<hr>

			<h5>Διάστημα τιμής</h5>
			<input type="text" id="price_from" placeholder="Από">
			<input type="text" id="price_to" placeholder="Έως">

			<h5>Εμβαδόν</h5>
			<input type="text" id="area_from" placeholder="Από">
			<input type="text" id="area_to" placeholder="Έως">

			<hr>

			<h5>Είδος ακινήτου</h5>
			<input type="checkbox" id="new" name="new" value="new">
			<label for="new">Νεόδμητο</label><br>
			<input type="checkbox" id="renovated" name="renovated" value="renovated">
			<label for="renovated">Ανακαινισμένο</label><br>

			<hr>

			<h5>Δωμάτια</h5>
			<input type="text" inputmode="numeric" id="rooms_from" placeholder="Από">
			<input type="text" inputmode="numeric" id="rooms_to" placeholder="Έως">
			<h5>Όροφος</h5>
			<input type="text" inputmode="numeric" id="floor_from" placeholder="Από">
			<input type="text" inputmode="numeric" id="floor_to" placeholder="Έως">
			<h5>Έτος κατασκευής</h5>
			<input type="text" inputmode="numeric" id="year_from" placeholder="Από">
			<input type="text" inputmode="numeric" id="year_to" placeholder="Έως">
			
			<hr>

			<h5>Επιπλέον Χαρακτηριστικά</h5>
			<input type="checkbox" id="parking" name="parking" value="parking">
			<label for="parking">Πάρκινγκ</label><br>
			<input type="checkbox" id="garden" name="garden" value="garden">
			<label for="garden">Κήπος</label><br>
			<input type="checkbox" id="balcony" name="balcony" value="balcony">
			<label for="balcony">Μπαλκόνι</label><br>
			<input type="checkbox" id="storage" name="storage" value="storage">
			<label for="storage">Αποθήκη</label><br>
			<input type="checkbox" id="fireplace" name="fireplace" value="fireplace">
			<label for="fireplace">Τζάκι</label><br>
			<input type="checkbox" id="elevator" name="elevator" value="elevator">
			<label for="elevator">Ανελκυστήρας</label><br>
			<input type="checkbox" id="furnished" name="furnished" value="furnished">
			<label for="furnished">Επιπλωμένο</label><br>
			<input type="checkbox" id="air_condition" name="air_condition" value="air_condition">
			<label for="air_condition">Κλιματισμός</label><br>
			<input type="checkbox" id="solar_heating" name="solar_heating" value="solar_heating">
			<label for="solar_heating">Ηλιακός Θερμοσίφωνας</label><br>
			<input type="checkbox" id="boiler" name="boiler" value="boiler">
			<label for="boiler">Θερμοσίφωνας</label><br>
			<input type="checkbox" id="alarm" name="alarm" value="alarm">
			<label for="alarm">Συναγερμός</label><br>
			<input type="checkbox" id="security_door" name="security_door" value="security_door">
			<label for="security_door">Πόρτα Ασφαλείας</label><br>
			<input type="checkbox" id="satelite" name="satelite" value="satelite">
			<label for="satelite">Συνδρομητική Τηλεόραση</label><br>
			<input type="checkbox" id="internet" name="internet" value="internet">
			<label for="internet">Internet</label><br>
			<input type="checkbox" id="pets" name="pets" value="pets">
			<label for="pets">Κατοικίδια</label><br>
			<input type="checkbox" id="student" name="student" value="student">
			<label for="student">Φοιτητές</label><br>

			<hr>

			<h5>Είδος Θέρμανσης</h5>
			<select name="heating" id="heating">
				<option value="autonomous">Αυτόνομη</option>
				<option value="central">Κεντρική</option>
			</select>
			<br><br><br><br><br>
		</div>
	</div>

	<div class="nav_pages">
		<h2>Πωλήσεις κατοικιών σε Περιοχή</h2>
	</div>

	<div class="cards_div d-flex justify-content-left flex-wrap">
		{{#if listings}}
			{{#each listings as |listing|}}
				{{> searchCard listing=listing}}
			{{/each}}
		{{else}}
			<p>Κανένα αποτέλεσμα</p>
		{{/if}}
	</div>
</main>

<img src="icons/up-arrow.png" alt="arrow" class="arrow">

<script>
	/* Set the width of the sidebar to 280px and the left margin of the page content to 10px */
	function openNav() {
	document.getElementById("mySidebar").style.width = "280px";
	document.getElementById("main").style.marginLeft = "10px";
	}

	/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
	function closeNav() {
	document.getElementById("mySidebar").style.width = "0";
	document.getElementById("main").style.marginLeft = "0";
	}

	function check(){
		let x = document.getElementById("mySidebar");
		if (x.style.width === "280px") {
			closeNav();
		} else {
			openNav();
		}
	}

	let topButton = document.querySelector(".arrow");
	topButton.addEventListener("click", function(){
		window.scrollTo({
			top: 0,
			left: 0,
			behavior: "smooth"
		});
	});

	function clearFilters(){
		let checkboxes = document.querySelectorAll("#mySidebar input[type=checkbox]");
		checkboxes.forEach(checkbox => {
			checkbox.checked = false;
		});
		let heating = document.querySelector("#heating");
		heating.value = "autonomous";

		let minPrice = document.querySelector("#price_from");
		minPrice.value = "";
		let maxPrice = document.querySelector("#price_to");
		maxPrice.value = "";

	}

	let clearfilter = document.querySelector(".clear_filters");
	clearfilter.addEventListener("click", function(){
		clearFilters();
	});

</script>

