{{> header}}

<div class="filters">

</div>

<main>
	<div class="listingsHeader"></div>
	<div class="listings">
		{{#each listings as |listing|}}
			{{> searchCard listing=listing}}
		{{/each}}
	</div>
</main>