{{> header}}

<hr class="line">

<hr class="box-shadow">

{{!-- path taken --}}
<div class="path">
	<p> <a>Αρχική <img src="/icons/chevron-right.svg"> </a> <a>Λίστα Αγγελιών <img src="/icons/path.svg"> </a></p>

</div>

<div class="choice_section">
	<select id="rent_sale">
		<option value="0">Πώληση</option>
		<option value="1">Ενοικίαση</option>
	</select>

	<select id="type">
		<option value="0">Κατοικία</option>
		<option value="1">Επαγγελματικός</option>
		<option value="2">Γη</option>
	</select>

	<select id="subtype">
		<option value="0">Στούντιο</option>
		<option value="1">Μονοκατοικία</option>
	</select>

	<button id="filter"> <img src="/icons/sliders.svg"> Φίλτρα</button>
</div>

<h1>Πωλήσεις κατοικιών σε Περιοχή</h1>

<main>
	{{#each listings as |listing|}}
		{{> searchCard listing=listing}}
	{{/each}}
</main>

