{{> header}}

<main class="d-flex justify-content-center align-items-center">
    <h2>Είσοδος Χρήστη</h2>

    <form method="post" action="/sign_in">
        <div class="sign_in">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="sign_in">
            <label for="password">Κωδικός:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <input id="submit" type="submit" value="Είσοδος">
        <div class="sign_in_extra">
            <a href="/sign_up">Δεν έχεις εγγραφεί ακόμη;</a>
        </div>
    </form>
</main>