html {
    height: 100%;
}

body {
    margin: 0 auto;
    width: 70%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Roboto';
}

main {
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: bold;
    font-size: 7vh;
    line-height: 8vh;
    color: #FFFFFF;

    text-align: center;
    
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

h2 {
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #FFFFFF;

    text-align: center;

    margin: 0;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}