html {
    height: 100%;
}

body {
    margin: 0 auto;
    width: 70%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Roboto';
}

main {
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: bold;
    font-size: 7vh;
    line-height: 8vh;
    color: #FFFFFF;

    text-align: center;
    
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

h2 {
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #FFFFFF;

    text-align: center;

    margin: 0;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icon_pressed {
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    width: fit-content;

    transform: scale(1.1);

    background-color: #FFFFFF;

    position: fixed;
    top: 8%;
    right: 15%;

    border-radius: 10px;

    padding: 8px;

    z-index: -1;
    display: none;
}
.icon_pressed a{
    color: black;
    text-decoration: none;

    margin: 5px;
}

.icon_pressed .not_signed_in,
.icon_pressed .signed_in {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.icon_pressed.active {
    z-index: 10;
    display: block;
}   

.icon_pressed .active {
    display: block;
}

.icon_pressed a:hover {
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

.icon_pressed hr {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
}

.icon_pressed img {
    width: 15px;
    height: 15px;

}

.icon_pressed a:hover img{
    filter: none;
}

@media only screen and (max-height: 700px) {
    .icon_pressed {
        top:12%;
    }
}

@media only screen and (max-width: 600px) {
    .icon_pressed {
        right:8%;
    }
}




.alert {
    position: fixed;
    top: 0;

    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    width: fit-content;

    background-color: white;
    border-radius: 10px;

    padding: 5px 10px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#alert_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

#alert_head img {
    width: 20px;
    height: 20px;
}

.alert_icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.alert>span {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    text-align: left;

    color: #000000;

    padding: 10px 20px;

    word-wrap: nowrap;
}


/* search card css start */
.searchCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;

    margin: 10px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    background-color: white;
}

.top-row {
    width: 100%;

    padding: 10px;
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.top-row p {
    margin-top: 10px;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.searchCard span {
    padding: 10px;
    padding-top: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.listing_description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 10px;

    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}

.listing_description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    padding-right: 15px;
}

.searchCard>p {
    margin: 20px;
    margin-top: auto;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.searchCard>img {
    position: relative;

    width: 16vw;
    height: 22vh;

    min-width: 280px;
    min-height: 180px;
    max-width: 310px;
    max-height: 300px;

    border-radius: 10px 10px 0px 0px;
}

/* search card css end */



