header {
    padding: 15px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 10px 20px;
}

.top_search {
    margin: 0px 10px;
    
    box-sizing: border-box;

    background: rgba(234, 231, 231, 0.7);
    border: 1px solid #D9D6D3;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top_search input{
    border: none;
    background: none;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #6E6E6E;

    padding: 10px;

    width: calc(100vw - 65vw);
}

.top_search img{
    padding: 10px;
}

.top_search input:focus{
    outline: none;
}

.top_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button_register {   
    cursor: pointer; 
    width: calc(100vw - 87vw);
    height: 40px;
    margin: 10px 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.25px;

    color: #6E6E6E;

    background: rgba(234, 231, 231, 0.7);
    border: 1px solid #D9D6D3;
    border-radius: 5px;

    min-width: 100px;
}

.button_login {
    width: 55px;
    height: 55px;

    cursor: pointer;

    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.button_login:hover {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}