@import "/styles/common.css";

body {
    background-image:  linear-gradient(180deg, rgba(156, 156, 156, 0.5) 10%, rgba(217, 217, 217, 0.5) 45.73%, rgba(217, 217, 217, 0.4) 50%), url("/icons/home_background.jpg");
}

main {
    width: 90%;
    height: 80%;
}

.search {
    margin-top: 30px;
}

.listing_type {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.listing_type input {
    display: none;
}

.listing_type label {
    width: 148px;
    height: 36px;

    background:  rgba(234, 231, 231, 0.8);
    color: black;

    margin: 10px;

    cursor: pointer;

    border-style: none;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.listing_type label:hover, input:checked + label {
    color: white;
    background: #599EA2;
}

.search_bar {
    background-color: #FFFFFF;
    height: 80%;

    min-width: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin: 10px;
    box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.search_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* .search_input:hover {
    box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
} */

input {
    text-align: center;
}

.ranges input {
    width: 100px;
}

.search_bar input[type=text] {
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.25px;

    color: #938E8E;
}

.search_bar input[type=search] {
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.25px;

    color: #938E8E;
}

.submit_button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
}

.search_button {
    cursor: pointer;
    width: 147px;
    height: 42px;

    border: none;
    outline: none;
    color: white;

    background-color: #F86740;
    border-radius: 20px;
}

.search_button:hover {
    box-shadow:rgba(0, 0, 0, 0.5);
    background-color: #da5834;
}

.search label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.5px;
}

.search select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: none;

    background: #FFFFFF;

    /* border: 1px solid #CED4DA; */
    border-radius: 8px;
}

input:focus {
    outline:  none;
}
/*
.dropdown {
    background-color: #FFFFFF !important;
    color: #000 !important;
    box-shadow: none;
}

.btn2 {
    background-color: #FFFFFF !important;
    color: #000 !important;
    border: none;
    padding: 10px 15px;
}

.dropdown-item:hover {
    background-color: #97d0d4 !important;
    color: #fff !important;
} */

@media only screen and (max-width: 620px){

     /* Hide scrollbar for Chrome, Safari and Opera */
     *::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    * {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    } 
    body{
        width:90%;
    }
    h1{
        font-size: 2rem;
        line-height: normal;
    }
}