@import "/styles/common.css";

html {
    
    width: 100%;

    background-image:  linear-gradient(180deg, rgba(156, 156, 156, 0.5) 10%, rgba(217, 217, 217, 0.5) 45.73%, rgba(217, 217, 217, 0.4) 50%), url("/icons/home_background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(86.5px);

    display: flex;
    flex-direction: column;
    align-items: center;    
}

main {
    margin: 20px;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

header {
    width: 70%;
}

h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;

    margin: 30px;

    color: rgba(0, 0, 0, 0.59);
}

.my-info {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 20px;

    background-color: white;
    border-radius: 10px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.myinfo>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    margin: 10px;
}

.info-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.details-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    margin: 10px;
}

.details-info>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}   

.details-info>div>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 10px;
}

.name, .surname, .phone, .email  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.details-info label {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;

    color: rgba(0, 0, 0, 0.59);
}

.details-info p {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.details-info span {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.my-favourites {

    margin:40px;

    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    padding: 20px;

    background-color: white;
    border-radius: 10px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-fave {
    width: 95%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/* search card css start */
.searchCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;

    margin: 10px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    background-color: white;
}

.top-row {
    width: 100%;

    padding: 10px;
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.top-row p {
    margin-top: 10px;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.searchCard span {
    padding: 10px;
    padding-top: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.listing_description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 10px;

    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}

.listing_description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    padding-right: 15px;
}

.searchCard>p {
    margin: 20px;
    margin-top: auto;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.searchCard>img {
    position: relative;

    width: 16vw;
    height: 22vh;

    min-width: 280px;
    min-height: 180px;
    max-width: 310px;
    max-height: 300px;

    border-radius: 10px 10px 0px 0px;
}

/* search card css end */
