@import "/styles/common.css";

body {
    background-color: white;

    justify-content: space-around;
}

header {
    margin: 0;
    padding: 15px;

    background: #FFFFFF;

    z-index: 2;

    align-items: baseline;
}

.line {
    position:fixed;
    top: 75px;

    z-index: 2;

    width: 100%;

    border: none;

    height: 1px;

    background-color: #0c0c0c;
}

.box-shadow {
    width: 100%;

    top: 70px;

    height: 75px;

    z-index: 1;

    position: fixed;

    background: #FFFFFF;

    border: 2px solid white;

    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.choice_section {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;

    position: fixed;

    top: 100px;

    z-index: 2;
}

select {
    padding: 8px;
    margin: 5px 8px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    max-width: 160px;
}

select:hover {
    cursor: pointer;

    background-color:rgba(75, 74, 74, 0.25)
}

.choice_section button {
    padding: 8px;
    margin: 5px 8px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    max-width: 160px;
}

.choice_section button:hover {
    background-color:rgba(75, 74, 74, 0.25)
}

.choice_section button:focus {
    outline: none;
}

.choice_section button img {
    padding-right: 5px;
}

main {
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: absolute;
    top: 250px;
}

.searchCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;

    margin: 10px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    background-color: white;
}

.top-row {
    width: 100%;

    padding: 10px;
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.top-row p {
    margin-top: 10px;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.top-row img {
    width: 30px;
    height: 30px;

    border-radius: 50%;
}

.searchCard span {
    padding: 10px;
    padding-top: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.listing_description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 10px;

    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}

.listing_description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    padding-right: 15px;
}

.searchCard>p {
    margin: 20px;
    margin-top: auto;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.searchCard img {
    position: relative;

    max-width: 399px;
    max-height: 300px;

    border-radius: 10px 10px 0px 0px;
}

