@import "/styles/common.css";

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: white;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 0;
}

header {
    width: 70%;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 15px;

    z-index: 3;

    align-items: baseline;
}

.box-shadow {
    width: 100%;

    top: 70px;

    height: 75px;

    z-index: 1;

    position: fixed;

    background: #FFFFFF;

    border: 2px solid white;

    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.line {
    position:fixed;
    top: -20px;

    height: 90px;
    width: 100%;

    z-index: 2;

    background-color: #FFFFFF;

    border: 1px solid #0c0c0c;
}

.path {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: nowrap;

    z-index: 0;

    padding: 10px;
}

.path a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;

    min-width: 222px;

    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: #8A8686;
    
    position: relative;
    top: 190px;
}

.path img {
    padding: 5px;
}


.choice_section {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;

    position: fixed;

    top: 100px;

    z-index: 2;
}

.choice_section button {
    padding: 8px;
    margin: 5px 8px;

    border: none;
    border-radius: 10px;

    color:white;
    background-color: #62b6bb;

    min-width: 100px;
}

.choice_section button:hover {
    cursor: pointer;
    background-color:#599EA2;
}

.choice_section button:focus {
    outline: none;
}

.choice_section button img {
    padding-right: 5px;
}

main {
    padding: 6px;
    max-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    top: 180px;
}


/* search card css start */
.searchCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;

    margin: 10px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    background-color: white;
}

.top-row {
    width: 100%;

    padding: 10px;
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.top-row p {
    margin-top: 10px;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.searchCard span {
    padding: 10px;
    padding-top: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.listing_description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 10px;

    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}

.listing_description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    padding-right: 15px;
}

.searchCard>p {
    margin: 20px;
    margin-top: auto;

    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.searchCard>img {
    position: relative;

    width: 16vw;
    height: 22vh;

    min-width: 260px;
    min-height: 180px;
    max-width: 310px;
    max-height: 300px;

    border-radius: 10px 10px 0px 0px;
}

/* search card css end */

.nav_pages{
    padding: 6px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;

    z-index: 0;
}

h2 {
    color: black;

    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    word-wrap:normal;
    
    filter: none;

    text-align: left;
}

nav {
    margin: 10px;
    margin-right: 20px;
}

.cards_div {
    z-index: 0;
}

 /* The sidebar menu */
.sidebar {
    height: 90%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */

    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 165px;
    left: 0;

    background-color: #fff; /* Black*/

    overflow-x: hidden; /* Disable horizontal scroll */

    padding-top: 20px; /* Place content 20px from the top */

    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

    border-radius: 0 15px 15px 0;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

/* The sidebar links */
/* .sidebar a {
    padding: 8px 8px 8px 32px;

    text-decoration: none;

    font-size: 25px;
    color: #818181;

    display: block;

    transition: 0.3s;
} */

/* When you mouse over the navigation links, change their color */
/* .sidebar a:hover {
    color: #f1f1f1;
} */

/* Position and style the close button (top right corner) */
/* .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    
    font-size: 36px;
    margin-left: 50px;
} */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    /* .sidebar a {font-size: 18px;} */
} 

.filters_heading {
    margin-left: 20px;
}

.filters input[type=text] {
    margin: 5px;

    outline: none;
    border: none;

    max-width: 80px;
}

.filters label {
    margin: 5px;
}

.filters {
    margin: 10px;
    margin-top: 0;
}

.filters h5{
    margin: 10px;
    margin-left: 0;
    margin-bottom: 0%;
}

select {
    padding: 8px;
    margin: 5px 0px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    max-width: 160px;
    
    background: #fff;
}

select:hover {
    cursor: pointer;
    background-color: #f0f1f1;
}

.searchCard:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}