body {
    width: 70%;
    margin: 0 auto;

    /*The html element sets the background image for the entire page*/
    background-image:  linear-gradient(180deg, rgba(156, 156, 156, 0.5) 10%, rgba(217, 217, 217, 0.5) 45.73%, rgba(217, 217, 217, 0.4) 50%), url("/icons/home_background.jpg");

    /* Full height */
    font-family: 'Roboto';
  
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    width: 80%;
    margin: 5em auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.logo {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 10px 20px;
}

header {
    margin: 15px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button_register {   
    cursor: pointer; 
    width: 250px;
    height: 40px;
    margin: 10px 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 0.25px;

    color: #6E6E6E;

    background: rgba(234, 231, 231, 0.7);
    border: 1px solid #D9D6D3;
    border-radius: 5px;
}

.button_login {
    width: 55px;
    height: 55px;

    cursor: pointer;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}