body {
    margin: 0;

    /*The html element sets the background image for the entire page*/
    background-image:  linear-gradient(180deg, rgba(156, 156, 156, 0.5) 0%, rgba(217, 217, 217, 0.5) 45.73%, rgba(217, 217, 217, 0.4) 97.81%), url("/icons/home_background.jpg");


    backdrop-filter: blur(86.5px);

    background-repeat: no-repeat;
    /* Full height */
    height: 100%;
    font-family: 'Roboto';

    background-position: center;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

    overflow-y: auto;
}

.container {
    width: calc(100% - 40px);
    max-width: 1000px;
}

.logo {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 10px 20px;
}

header {
    margin: 15px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.top_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button_register {   
    cursor: pointer; 
    width: 250px;
    height: 40px;
    margin: 10px 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 0.25px;

    color: #6E6E6E;

    background: rgba(234, 231, 231, 0.7);
    border: 1px solid #D9D6D3;
    border-radius: 5px;
}

.button_login {
    width: 55px;
    height: 55px;

    cursor: pointer;
}

.button_login:hover {    
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.button {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding: 6px 20px;

    background:  #599EA2;
    color: white;

    margin-right: 10px;

    cursor: pointer;

    border-style: none;
    border-radius: 10px;
}

.button:hover {
    color: white;
    background: #f1653e;
}

h1 {
    margin-top: 30px;

    font-weight: 400;
    font-size: 50px;
    line-height: 64px;

    text-align: center;

    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

form input{
    margin: 30px auto;
    margin-bottom: 70px;
    padding: 20px 120px;

    color: white;

    border-style: none;

    background: #F86740;
    border-radius: 10px;

    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

#submit:hover {
    cursor: pointer;

    box-shadow:rgba(0, 0, 0, 0.5);
    background-color: #da5834;
}

.sign_in {
    /* margin: auto; */
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.sign_in label {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    margin-bottom: 10px;

    text-align: left;
    
    color: #000000;
}

.sign_in input{
    padding: 8px;
    padding-right: 140px;
    margin: auto;

    min-width: 200px;
    max-width: 360px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;

    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
